{% extends 'base.html'  %}


{%  block title %}Login form {% endblock %}

{%  block body %}

<form action="/login" method="POST">
    <hr>
    <h1>USER LOGIN FORM</h1>
    <hr>
    <div align="center">
        <label for="user">Username</label>
        <input type="text"  id="user" name="user">
    </div>
    
    <div align="center">
        <label for="pass">password</label>
        <input type="password"  id="pass" name="pass">
    </div>
    
    <div align="center">
        <input type="submit" value="LOG IN">
    </div>
    <hr>
</form>

{% endblock %}