<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <form action="/signup" method="POST" enctype="multipart/form-data">
        <h1>SIGN UP FORM</h1><hr>
        
        <hr>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name"
                placeholder="Enter Name" name="name" required>
        </div>
        <div class="form-group">
            <label for="username">User Name:</label>
            <input type="text" class="form-control" id="username"
                placeholder="Enter User Name" name="setuser" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password"
                placeholder="Enter password" name="setpass" required>
        </div>
        <div class="form-group">
            <label for="confirmpass">Confirm password:</label>
            <input type="password" class="form-control" id="password"
                placeholder="Confirm password" name="confirmpassword" required>
        </div>
        <div class="form-group">
            <label for="ph">Phone Number</label>
            <input type="password" class="form-control" id="ph"
                placeholder="Phone Number" name="ph">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="mail">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          
        <button type="submit" class="btn bg-success">
            Sign up
        </button>
    </form>
</body>
</html>